---
import Container from "../shared/Container.astro";
import ContactUs from "./contact-us";

---

<section id="contact-us">
    <Container className="">
        <ContactUs />
    </Container>
</section>